@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: rgb(97, 96, 96);

body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
    
}


.container {
    width: 80%;
    margin: 0 auto;
}

.pvt {
    position: relative;
  }

.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-style: oblique;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(252, 172, 0);
    background-color: rgb(111, 170, 43);
}

img { 
    width: 100%;
    height: auto;
    opacity: 0.5;
  }

header {
    background: $primary;
    padding: 1em 0;

    a {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    a.logo {
        font-weight: bold;
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
}

h1 {
    margin-top: 2em;
}

h3 {
    margin-top: 1em;
    text-align:center;
}