<h1>GET THE BEST NEWS</h1>
<p>Top News are articles which are being talked about in mainstream News outlets. 
  <br>
  If an article for example ‘Covid-19 vaccine developed’ is being discussed in multiple News outlets, then it will be categorized as Top News. <br>
  
  Click the NEWS to get the TOP NEWS.
</p>

<h3>Our top sources</h3>
<div class="row">
  <div class="column">
    <img src="assets/img/1200px-BBC_News.svg.png"  style="width:50%" class="center">
  </div>
  <div class="column">
    <img src="assets/img/Irish-Times-edit.jpg"  style="width:50%" class="center">
  </div>
  <div class="column">
    <img src="assets/img/2018-The-Guardian-logo-design.png"  style="width:50%" class="center">
  </div>
</div>


<a href="#" routerLink="/contact">Contact Us</a>

<a href="#" routerLink="/">About</a>